@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  color: #1F1F1F;
  outline: medium none;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  color: #191d34;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #7A838B;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

h3 {
  font-size: 24px;
}

.mb-65 {
  margin-bottom: 67px;
}

.black-bg {
  background: #020c26 !important;
}

.white-bg {
  background: #ffffff;
}

.gray-bg {
  background: #f5f5f5;
}

.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}

.bg-img-2 {
  background-image: url(../img/background-img/bg-img-2.jpg);
}

.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #040E27;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}

.overlay2 {
  position: relative;
  z-index: 0;
}

.overlay2::before {
  position: absolute;
  content: "";
  background-color: #191d34;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

.overlay_03 {
  position: relative;
  z-index: 0;
}

.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #191d34;
  opacity: .6;
  content: '';
  z-index: -1;
}

.bradcam_overlay {
  position: relative;
  z-index: 0;
}

.bradcam_overlay::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5db2ff+0,7db9e8+100&1+24,0+96 */
  background: -moz-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  background: -webkit-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* Chrome,Safari */
  background: linear-gradient(to right, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
  /*  */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 14px 44px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #00D363;
  text-align: center;
  color: #00D363 !important;
  text-transform: uppercase;
  cursor: pointer;
}

.boxed-btn:hover {
  background: #00D363;
  color: #fff !important;
  border: 1px solid #00D363;
}

.boxed-btn:focus {
  outline: none;
}

.boxed-btn3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#F91842+0,fd8e5e+100 */
  background: #00D363;
  color: #fff;
  display: inline-block;
  padding: 13px 29px 13px 29px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.boxed-btn3:hover {
  color: #00D363 !important;
  border: 1px solid #00D363;
  background: transparent;
}

.boxed-btn3:focus {
  outline: none;
}

.boxed-btn4 {
  display: inline-block;
  padding: 11px 29px 13px 29px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: #00D363 !important;
  border: 1px solid #00D363;
  background: transparent;
}

.boxed-btn4:hover {
  color: #fff !important;
  border: 1px solid #00D363;
  background: transparent;
  border: 0;
  background: #00D363;
  border: 1px solid transparent;
}

.boxed-btn4:focus {
  outline: none;
}

.boxed-btn3-line {
  color: #F91842 !important;
  display: inline-block;
  padding: 14px 31px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  border: 1px solid #F91842;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.boxed-btn3-line:hover {
  color: #fff !important;
  border: 1px solid transparent;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#F91842+0,fd8e5e+100 */
  background: #fdae5c;
  background: -moz-linear-gradient(left, #fdae5c 0%, #fd8e5e 100%);
  background: -webkit-linear-gradient(left, #fdae5c 0%, #fd8e5e 100%);
  background: linear-gradient(to right, #fdae5c 0%, #fd8e5e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F91842', endColorstr='#fd8e5e',GradientType=1 );
}

.boxed-btn3-line:focus {
  outline: none;
}

.boxed-btn3-line.large-width {
  width: 220px;
}

.boxed-btn2 {
  border: none;
  background: #F91842;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 12px 36px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.boxed-btn2:hover {
  background: #F91842;
  color: #fff !important;
}

.boxed-btn2:focus {
  outline: none;
}

.line-button {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}

.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.line-button:hover {
  color: #009DFF;
}

.line-button:hover::before {
  background: #009DFF;
}

.slider_bg_1 {
  background-image: url(../img/banner/banner.png);
}

.slider_area {
  position: relative;
  z-index: 0;
}

.slider_area .single_slider {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {
  .slider_area .single_slider {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider {
    height: 700px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider {
    height: 550px;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text {
    margin-top: 120px;
    margin-bottom: 100px;
  }
}

.slider_area .single_slider .slider_text h5 {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
}

.slider_area .single_slider .slider_text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 34px;
    line-height: 1.4;
    margin-bottom: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 40px;
    line-height: 1.4;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 60px;
    font-weight: 400;
    line-height: 74px;
  }
}

.slider_area .single_slider .slider_text p {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  margin-bottom: 35px;
}

.slider_area .single_slider .slider_text .button_search {
  text-align: right;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text .button_search {
    text-align: left;
  }
}

.slider_area .single_slider .slider_text .quality {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text .quality {
    margin-top: 20px;
  }
}

.slider_area .single_slider .slider_text .quality ul li {
  display: inline-block;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text .quality ul li {
    margin-bottom: 10px;
  }
}

.slider_area .single_slider .slider_text .quality ul li button {
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: #000;
  font-family: "Roboto", sans-serif;
  padding: 5px 19px;
  display: inline-block;
  margin: 0 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.slider_area .single_slider .slider_text .quality ul li button:hover {
  background: #F91842;
}

.slider_area .ilstration_img {
  position: absolute;
  right: 0;
  bottom: 0;
  right: 7%;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .ilstration_img {
    right: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .ilstration_img img {
    width: 75%;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .slider_area .ilstration_img img {
    width: 75%;
  }
}

.gj-picker-md div[role="navigator"] {
  padding-left: 30px !important;
}

.nice-select::after {
  content: "\f0d7";
  display: block;
  pointer-events: none;
  position: absolute;
  right: 30px;
  top: 50%;
  transition: all 0.15s ease-in-out;
  width: 5px;
  font-family: 'fontawesome';
  color: #ddd;
  transform: translateY(-50%);
  font-size: 16px;
  right: 25px;
  color: #AAB1B7;
  height: auto;
  margin-top: 0;
}

.bradcam_bg_1 {
  background-image: url(../img/banner/bradcam.png);
}

.bradcam_area {
  background-size: cover;
  background-position: center;
  padding: 182px 0 102px 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 991px) {
  .bradcam_area {
    padding: 120px 0;
  }
}

@media (max-width: 767px) {
  .bradcam_area {
    padding: 150px 0 60px 0;
  }
}

.bradcam_area h3 {
  font-size: 56px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .bradcam_area h3 {
    font-size: 30px;
  }
}

.bradcam_area p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}

.bradcam_area p a {
  color: #fff;
}

.bradcam_area p a:hover {
  color: #fff;
}

.bradcam_area .icon {
  background: #FF5748;
  width: 136px;
  height: 136px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 136px;
  margin: auto;
}

.bradcam_area .icon i {
  color: #fff;
  font-size: 68px;
}

.bradcam_area h4 {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  margin: 10px 0;
}

@media (max-width: 767px) {
  .bradcam_area h4 {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bradcam_area h4 {
    font-size: 40px;
  }
}

.bradcam_area p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.catagory_area {
  padding: 100px 0;
}

@media (max-width: 767px) {
  .catagory_area {
    padding: 70px 0;
  }
}

.catagory_area .cat_search {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-bottom: 30px;
}

.catagory_area .cat_search .single_input input {
  height: 50px;
  border: 1px solid #E8E8E8;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}

@media (max-width: 767px) {
  .catagory_area .cat_search .single_input input {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .catagory_area .cat_search .single_input input {
    margin-bottom: 20px;
  }
}

.catagory_area .cat_search .single_input input::placeholder {
  color: #7A838B;
  font-size: 16px;
  font-weight: 400;
}

.catagory_area .cat_search .single_input input:focus {
  outline: none;
}

.catagory_area .cat_search .single_input .nice-select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #7A838B;
  font-size: 16px;
}

@media (max-width: 767px) {
  .catagory_area .cat_search .single_input .nice-select {
    margin-bottom: 20px;
  }
}

.catagory_area .cat_search .single_input .nice-select:focus {
  outline: none;
}

.catagory_area .cat_search .job_btn a {
  width: 100%;
  display: block !important;
}

@media (max-width: 767px) {
  .catagory_area .popular_search {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .catagory_area .popular_search {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .catagory_area .popular_search {
    display: block !important;
  }
}

.catagory_area .popular_search span {
  font-size: 18px;
  font-weight: 400;
  color: #001D38;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .catagory_area .popular_search span {
    margin-bottom: 20px;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .catagory_area .popular_search span {
    margin-bottom: 20px;
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .catagory_area .popular_search span {
    margin-bottom: 20px;
    display: block;
  }
}

.catagory_area .popular_search ul li {
  display: inline-block;
  margin-right: 7px;
}

@media (max-width: 767px) {
  .catagory_area .popular_search ul li {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .catagory_area .popular_search ul li {
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .catagory_area .popular_search ul li {
    margin-bottom: 15px;
  }
}

.catagory_area .popular_search ul li a {
  color: #0A8CFF;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #CEE8FF;
  display: inline-block;
  border-radius: 5px;
  padding: 7px 14px;
}

@media (max-width: 767px) {
  .catagory_area .popular_search ul li a {
    font-size: 13px;
  }
}

.catagory_area .popular_search ul li a:hover {
  border-color: #0A8CFF;
}

.popular_catagory_area {
  background: #F5F7FA;
  padding: 100px 0;
}

.popular_catagory_area .single_catagory {
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 38px 25px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
}

.popular_catagory_area .single_catagory a h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.popular_catagory_area .single_catagory p {
  font-size: 16px;
  color: #AAB1B7;
  margin-bottom: 0;
  font-weight: 400;
}

.popular_catagory_area .single_catagory p span {
  background: #E6F3FF;
  color: #0A8CFF;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 17px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.popular_catagory_area .single_catagory:hover {
  border-color: #B2F2D0;
}

.popular_catagory_area .single_catagory:hover h4 {
  color: #00D363;
  text-decoration: underline;
}

.job_searcing_wrap {
  position: relative;
  z-index: 0;
  padding: 116px 0;
  background: #2B9BFF !important;
}

@media (max-width: 767px) {
  .job_searcing_wrap {
    padding: 30px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .job_searcing_wrap {
    padding: 60px 0;
  }
}

.job_searcing_wrap.overlay::before {
  background: #0A8CFF;
  opacity: .8;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

@media (max-width: 767px) {
  .job_searcing_wrap.overlay::before {
    height: 50%;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.job_searcing_wrap::after {
  background-image: url(../img/job/1.png);
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  left: 0;
  top: 0;
  content: '';
  position: absolute;
}

@media (max-width: 767px) {
  .job_searcing_wrap::after {
    height: 50%;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.job_searcing_wrap .searching_text {
  position: relative;
  z-index: 8;
}

@media (max-width: 767px) {
  .job_searcing_wrap .searching_text {
    margin: 30px 0;
  }
}

.job_searcing_wrap .searching_text h3 {
  font-size: 38px;
  font-weight: 400;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .job_searcing_wrap .searching_text h3 {
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .job_searcing_wrap .searching_text h3 {
    font-size: 25px;
  }
}

.job_searcing_wrap .searching_text p {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 12px;
}

.job_listing_area {
  background: #F5F7FA;
  padding-bottom: 80px;
}

.job_listing_area.plus_padding {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .job_listing_area.plus_padding {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  .job_listing_area .brouse_job {
    text-align: left !important;
    margin-top: 20px;
  }
}

.job_listing_area .job_lists {
  margin-top: 50px;
}

.job_listing_area .job_lists .single_jobs {
  padding: 30px;
  margin-bottom: 12px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .job_listing_area .job_lists .single_jobs {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .job_listing_area .job_lists .single_jobs .jobs_left {
    display: block !important;
    overflow: hidden;
  }
}

.job_listing_area .job_lists .single_jobs .jobs_left .thumb {
  float: left;
  width: 82px;
  height: 82px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  background: #F5F7FA;
  margin-right: 25px;
  border: 1px solid #F0F0F0;
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent {
  float: left;
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent h4 {
    margin-top: 15px;
  }
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent h4:hover {
  color: #00D363;
}

@media (max-width: 767px) {
  .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat {
    display: block !important;
  }
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location {
    margin-right: 10px;
  }
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location p {
  margin-bottom: 0;
  font-size: 16px;
  color: #AAB1B7;
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location p i {
  margin-right: 7px;
}

@media (max-width: 767px) {
  .job_listing_area .job_lists .single_jobs .jobs_right .apply_now {
    margin: 10px 0;
  }
}

.job_listing_area .job_lists .single_jobs .jobs_right .apply_now a.heart_mark {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #00D363;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background: #EFFDF5;
  margin-right: 15px;
}

.job_listing_area .job_lists .single_jobs .jobs_right .apply_now a.heart_mark:hover {
  background: #00D363;
  color: #fff;
}

.job_listing_area .job_lists .single_jobs .jobs_right .apply_now a.boxed-btn3 {
  padding: 9px 27px 9px 27px;
  font-size: 14px;
}

.job_listing_area .job_lists .single_jobs .jobs_right .date {
  text-align: right;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .job_listing_area .job_lists .single_jobs .jobs_right .date {
    text-align: left;
  }
}

.job_listing_area .job_lists .single_jobs .jobs_right .date p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
  color: #7A838B;
}

.job_listing_area .job_lists .single_jobs:hover {
  border-color: #B2F2D0;
}

.job_listing_area .job_filter {
  padding: 25px;
  display: block;
}

.job_listing_area .job_filter h3 {
  font-size: 20px;
  margin-bottom: 25px;
  color: #001D38;
  font-weight: 400;
}

.job_listing_area .job_filter .form_inner .single_field input {
  height: 60px;
  border: 1px solid #E8E8E8;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.job_listing_area .job_filter .form_inner .single_field input::placeholder {
  color: #7A838B;
  font-size: 16px;
  font-weight: 400;
}

.job_listing_area .job_filter .form_inner .single_field input:focus {
  outline: none;
}

.job_listing_area .job_filter .form_inner .single_field .nice-select {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #7A838B;
  font-size: 16px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .job_listing_area .job_filter .form_inner .single_field .nice-select {
    margin-bottom: 20px;
  }
}

.job_listing_area .job_filter .form_inner .single_field .nice-select:focus {
  outline: none;
}

.job_listing_area .job_filter .form_inner .nice-select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #7A838B;
  font-size: 16px;
}

@media (max-width: 767px) {
  .job_listing_area .job_filter .form_inner .nice-select {
    margin-bottom: 20px;
  }
}

.job_listing_area .job_filter .form_inner .nice-select:focus {
  outline: none;
}
.pagination_wrap {
  text-align: center;
  margin-top: 20px;
}

.pagination_wrap ul li {
  display: inline-block;
}

.pagination_wrap ul li a {
  width: 38px;
  height: 38px;
  border: 1px solid #EAEAEA;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  line-height: 38px;
  display: inline-block;
  color: #AAB1B7;
  font-size: 14px;
  margin: 0 4px;
}

.job_details_area {
  background: #F5F7FA;
  padding-top: 100px;
  padding-bottom: 100px;
}

.job_details_area .single_jobs {
  padding: 30px;
  border-bottom: 1px solid #EAEAEA;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .job_details_area .single_jobs {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .job_details_area .single_jobs .jobs_left {
    display: block !important;
    overflow: hidden;
  }
}

.job_details_area .single_jobs .jobs_left .thumb {
  float: left;
  width: 82px;
  height: 82px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  background: #F5F7FA;
  margin-right: 25px;
  border: 1px solid #F0F0F0;
}

.job_details_area .single_jobs .jobs_left .jobs_conetent {
  float: left;
}

.job_details_area .single_jobs .jobs_left .jobs_conetent h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .job_details_area .single_jobs .jobs_left .jobs_conetent h4 {
    margin-top: 15px;
  }
}

.job_details_area .single_jobs .jobs_left .jobs_conetent h4:hover {
  color: #00D363;
}

@media (max-width: 767px) {
  .job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat {
    display: block !important;
  }
}

.job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location {
    margin-right: 10px;
  }
}

.job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location p {
  margin-bottom: 0;
  font-size: 16px;
  color: #AAB1B7;
}

.job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location p i {
  margin-right: 7px;
}

@media (max-width: 767px) {
  .job_details_area .single_jobs .jobs_right .apply_now {
    margin: 10px 0;
  }
}

.job_details_area .single_jobs .jobs_right .apply_now a.heart_mark {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #00D363;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background: #EFFDF5;
}

.job_details_area .single_jobs .jobs_right .apply_now a.heart_mark:hover {
  background: #00D363;
  color: #fff;
}

.job_details_area .single_jobs .jobs_right .apply_now a.boxed-btn3 {
  padding: 9px 27px 9px 27px;
  font-size: 14px;
}

.job_details_area .single_jobs .jobs_right .date {
  text-align: right;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .job_details_area .single_jobs .jobs_right .date {
    text-align: left;
  }
}

.job_details_area .single_jobs .jobs_right .date p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
  color: #7A838B;
}

.job_details_area .descript_wrap {
  padding: 40px;
}

.job_details_area .descript_wrap .single_wrap {
  margin-bottom: 30px;
}

.job_details_area .descript_wrap .single_wrap:last-child {
  margin-bottom: 0;
}

.job_details_area .descript_wrap .single_wrap h4 {
  font-size: 20px;
  font-weight: 500;
  color: #001D38;
  margin-bottom: 25px;
}

.job_details_area .descript_wrap .single_wrap p {
  color: #7A838B;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.job_details_area .descript_wrap .single_wrap ul li {
  font-size: 16px;
  line-height: 32px;
  color: #7A838B;
  font-weight: 400;
  position: relative;
  padding-left: 25px;
}

.job_details_area .descript_wrap .single_wrap ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 7px;
  height: 7px;
  background: #7A838B;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 12px;
}

.job_details_area .apply_job_form {
  margin-top: 30px;
  padding: 40px;
}

@media (max-width: 767px) {
  .job_details_area .apply_job_form {
    padding: 30px;
  }
}

.job_details_area .apply_job_form h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.job_details_area .apply_job_form .input_field input, .job_details_area .apply_job_form .input_field textarea {
  height: 60px;
  border: 1px solid #E8E8E8;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.job_details_area .apply_job_form .input_field input::placeholder, .job_details_area .apply_job_form .input_field textarea::placeholder {
  color: #7A838B;
  font-size: 16px;
}

.job_details_area .apply_job_form .input_field input:focus, .job_details_area .apply_job_form .input_field textarea:focus {
  outline: none;
}

.job_details_area .apply_job_form .input_field textarea {
  height: 188px;
  padding: 20px;
}

.job_details_area .apply_job_form .input_field.file_up input {
  position: relative;
}

.job_details_area .apply_job_form .input_field.file_up input:before {
  position: absolute;
  left: 0;
  top: 0;
  content: 'Upload CV';
}

.job_details_area .apply_job_form .input-group {
  width: 100%;
  height: 60px;
  border-radius: 5px !important;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.job_details_area .apply_job_form .input-group button {
  background: transparent;
  border: none;
  font-size: 16px;
  color: #7A838B;
  padding-left: 20px;
  margin-right: 5px;
}

.job_details_area .apply_job_form .input-group .custom-file {
  margin-bottom: 0;
  height: 60px;
  border: none;
}

.job_details_area .apply_job_form .input-group .custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  padding: 0;
  line-height: 60px;
  color: #7A838B;
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.job_details_area .apply_job_form .input-group .custom-file-input {
  height: 100%;
}

.job_details_area .job_sumary {
  background: #fff;
}

@media (max-width: 767px) {
  .job_details_area .job_sumary {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .job_details_area .job_sumary {
    margin-top: 30px;
  }
}

.job_details_area .job_sumary .summery_header {
  border-bottom: 1px solid #EAEAEA;
  padding: 40px;
}

@media (max-width: 767px) {
  .job_details_area .job_sumary .summery_header {
    padding: 30px;
  }
}

.job_details_area .job_sumary .summery_header h3 {
  font-size: 24px;
  color: #001D38;
  font-weight: 400;
}

.job_details_area .job_sumary .job_content {
  padding: 40px;
}

@media (max-width: 767px) {
  .job_details_area .job_sumary .job_content {
    padding: 30px;
  }
}

.job_details_area .job_sumary .job_content ul li {
  font-size: 16px;
  font-weight: 400;
  color: #AAB1B7;
  line-height: 38px;
  padding-left: 18px;
  position: relative;
}

.job_details_area .job_sumary .job_content ul li::before {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #AAB1B7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 0;
  content: '';
  top: 16px;
}

.job_details_area .job_sumary .job_content ul li span {
  color: #001D38;
}

.job_details_area .share_wrap {
  background: #fff;
  margin: 30px 0;
  padding: 20px;
}

.job_details_area .share_wrap span {
  font-size: 16px;
  font-weight: 500;
  color: #001D38;
  margin-right: 20px;
}

.job_details_area .share_wrap ul li {
  display: inline-block;
  margin-right: 10px;
}

.job_details_area .share_wrap ul li a {
  font-size: 16px;
  color: #D5D5D5;
}

.job_details_area .share_wrap ul li a:hover {
  color: #00D363;
}

.job_details_area .job_location_wrap {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(calc(2.25rem + 2px) - 1px * 2);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: 1px solid #ced4da;
  border-radius: 0 .25rem .25rem 0;
  margin-bottom: 0;
  height: 60px;
  display: none !important;
}


.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}




